<form [formGroup]="addRentCarForm" (ngSubmit)="checkCarRentable()">
    
      
          <div class="form-floating mb-3 mt-3">
             <input type="datetime-local" class="form-control" id="rentDate"
                    formControlName="rentDate" placeholder="rentDate">
             <label for="rentDate">Rent Date</label>
          </div>
       
 
       
          <div class="form-floating mt-3">
             <input type="datetime-local" class="form-control" id="returnDate"
                    formControlName="returnDate" placeholder="returnDate">
             <label for="returnDate">Return Date</label>
          </div>
       
 
    <div class="mt-2">
       <button *ngIf="carId" class="btn btn-secondary col-md-12 mt-1 " [disabled]="addRentCarForm.invalid">
          <i class="bi-credit-card-fill me-1"></i> Rent
       </button>
    </div>
 </form>
 