<nav class="navbar navbar-expand-lg navbar-dark text-white " style="background:#414956">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rental Car</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>

        <li *ngIf="isAuthenticated()" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="cars/add">Car Add</a>
        </li>
        <li *ngIf="isAuthenticated()" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="carlist">Car List</a>
        </li>
        <li *ngIf="isAuthenticated()" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="brandlist">Brand List</a>
        </li>
        <li *ngIf="isAuthenticated()" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="colorlist">Color List</a>
        </li>
        <li *ngIf="isAuthenticated()" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="brands/add">Brand Add</a>
        </li>
        <li *ngIf="isAuthenticated()" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="colors/add">Color Add</a>
        </li>
        <li *ngIf="isAuthenticated()" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="rentals/">Rentals List</a>
        </li>

        <li *ngIf="!isAuthenticated()" class="nav-item float-right">
          <a class="nav-link active " aria-current="page" routerLink="login">Login</a>
        </li>
        <li *ngIf="!isAuthenticated()" class="nav-item float-right">
          <a class="nav-link active" aria-current="page" routerLink="register">Register</a>
        </li>
      </ul>


      <div *ngIf="isAuthenticated() && getCurrentCustomer()">
        <div class="btn-group d-grid">
          <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
            <i class="bi-person-circle me-1"></i>
            {{ getCurrentCustomer().firstName }} {{ getCurrentCustomer().lastName }}
          </button>

          <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
            <div class="dropdown-item cursor-none">
              <i class="bi-check2 me-1"></i>
              {{ getCurrentCustomer().findexPoint }} Findex Score
            </div>

            <hr class="dropdown-divider">

            <div class="dropdown-item text-center" routerLink="/profile">
              <a routerLink class="bi-pencil me-1"></a> Edit Profile
            </div>

            <a style="text-decoration: none;" routerLink>
              <div (click)="logOut()" class="dropdown-item text-center">
                <i class="bi-box-arrow-right me-1"></i> Exit
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</nav>